MONGODB_URI=mongodb+srv://...
MONGODB_NAME=kings_newsletter
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha-de-app-do-gmail
EMAIL_FROM=King's Newsletter <seu-email@gmail.com>
APP_URL=http://localhost:3000
NOTIFY_SECRET=uma_chave_secreta_forte
